body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 16px;
}
footer{
    padding: 24px 0px 24px 16px;
    background-color: paleturquoise;
}
img{
    height: 200px;
}
nav{
    background-color: aquamarine;
    border-bottom: 1px solid purple;
    padding: 16px;
}
a{
    text-decoration:none;
}

nav > a{
    color: darkblue;
}

tr:nth-child(even){
    background-color:pink;
}

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}
